[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databases = "*"
ormar = "*"
sqlalchemy = "*"
uvicorn = "*"
fastapi = "*"
bs4 = "*"
fastapi-jwt-auth = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
